<h1><%= @cat.name %></h1>

<ul>
    <li>
        <%= @cat.birth_date %>
        <br>


        <%= @cat.color %>
         <br>
        
        <%= @cat.sex %> 
        <br>
        <br>
        <%= @cat.description %>
          
    </li>
</ul>